extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.editVideo}`,method='post')
            input(type='text', name='title', placeholder='title')
            textarea(name='description', placeholder='description')
            input(type='submit', value='update video')
        a.form-container__Link.form-container__link--delete(href=`/videos${routes.deleteVideo}`) delete video    